<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518829323508-pr8q4gqp2inod891m1u9tek08kq967ti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518829323508-pr8q4gqp2inod891m1u9tek08kq967ti</string>
	<key>API_KEY</key>
	<string>AIzaSyCZh8L03iuNWQYiMRiQEx18CmToollaa4c</string>
	<key>GCM_SENDER_ID</key>
	<string>518829323508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dratech.assetment</string>
	<key>PROJECT_ID</key>
	<string>canon-assets</string>
	<key>STORAGE_BUCKET</key>
	<string>canon-assets.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518829323508:ios:d962ac4bb3d5b9d7951aa1</string>
</dict>
</plist>